<!DOCTYPE html>
<html lang="en">
    <head>
        <title>lAPPar</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" sizes="32x32" href="./images/fav/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="./images/fav/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="./images/fav/favicon-16x16.png">
    </head>
    <body>
        <header>
            <a href="#restaurant-list" class="skip">Skip to main content</a>
            <div class='banner' aria-label='Banner Image'>
                <div class='banner-text'>
                    <p>lAPPar</p>
                </div>
            </div>
            <nav id='drawer'>
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="#">Favorite</a></li>
                    <li><a href="https://www.linkedin.com/in/aldzikri-dwijayanto-prathama-57b37a170/">About Us</a></li>
                    <li><a id='hide' href="#">⮨</a></li>
                    
                </ul>
            </nav>
            <div class='hamburger-container'>
                <a id="hamburger" href="#">☰</a>
            </div>
        </header>
        <main>
           <div id='restaurant-list' class='restaurant-list' >
           </div> 
        </main>
        <footer>
            <p>Aldzikri Dwijayanto Prathama</p>
           <p>&#169; 2021</p>
        </footer>
    </body>
</html>
