@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Righteous&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #B4846C;
}

.banner {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('./../public/images/heros/hero-image_2.jpg');
    position: relative;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding-bottom: 15%;
    padding-top: 15%;
}

.banner-text {
    font-family: 'Lobster', cursive;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.banner.open {
    position: fixed;
}

#drawer {
    width: 100%;
    height: 100%;
    position: absolute;
    /* menyembunyikan #drawer -250px (sesuai dengan ukuran lebar drawer) ke kiri */
    transform: translate(-100%, 0);
    transition: transform 0.3s ease-in-out;
    background-color: #7D5A50;
    text-align: center;
    visibility: hidden;
    bottom: 0;
    top:0;
}

#drawer.open {
    transform: translate(0,0);
    visibility: visible;
    position: fixed;
}

#drawer ul {
    list-style-type: none;
    padding: 0;
}

#drawer li {
    padding: 5px 0;
    text-align: center;
    border-bottom: 1px solid #1f1614;
}

#drawer li:first-child {
    border-top: 1px solid #1f1614;
}

#drawer li:hover {
    background-color: #B4846C;
}

#drawer a {
    text-decoration: none;
    color: white;
    display: block;
    padding-top: 22px;
    padding-bottom: 22px;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 400;
}

#drawer a:focus, .hamburger-container a:focus {
    background-color: #B4846C;
}

.hamburger-container {
    text-align: center;
    width: 100%;
    background-color: #7D5A50;
}

.hamburger-container a {
    color: white;
    display: block;
    text-decoration: none;
    padding-top: 22px;
    padding-bottom: 22px;
}

main {
    margin-top: 10px;
}

.skip {
  position: absolute;
  left: -10000px;
  top: auto;width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
  color: white;
  font-size: 25px;
}

.restaurant-list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 10%;
}

.restaurant-card {
    background-color: #FCDEC0;
    border-radius: 19px 19px 15px 15px / 15px 15px 19px 19px; 
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 160px;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.restaurant-image {
    background-size: cover;
    background-position: center;
    margin: 0;
    margin-bottom: 10px;
    height: 160px;
    border-radius: 19px 19px 0px 0px / 15px 15px 0px 0px; 
    border: 0px;
}

.restaurant-name {
    text-align: center;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0;
    height: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.rating-place {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    flex-wrap: wrap;
}

footer {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 300;
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #7D5A50;
    color: white;
    text-align: center;
    padding: 20px;
}
